<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_item}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">
	<style>
		.btn-primary{
			padding: 3px 15px;
		}
	</style>
</th:block>
<th:block layout:fragment="js">
	
</th:block>
</head>
<body>
	<div layout:fragment="content" class="bg-dark text-light">
		<div class="text-center item__card ">
			<div class="detail__cate-wrap">
		   		<ul class="item__cate d-flex">
		      		<li>
		        		<a class="" aria-current="true" href="#">전체</a>
		      		</li>
		      		<li class="">
		        		<a class="active" href="#">CPU</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">RAM</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">메인보드</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">VGA</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">저장장치</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">파워</a>
		      		</li>
		      		<li class="">
		        		<a class="" href="#">케이스</a>
		      		</li>
		    	</ul>
		  </div>
		 </div>
		<div class="container-fluid item__section-sub d-flex mt-0">
			<div class="detail__list">
				<span class="detail__title">상품명</span>
				
				<div class="d-flex w-80" >
					<div class="detail__img-con">
						<img class="detail__img">
					</div>
					<div class="w-100">
							<div class="detail__list-wrap">
								<div class="detail_desc2">
									<span class="detail__price">1,000,000원</span>
								</div>
								<div class="detail_desc3">
									<table class="detail__table">
										<tr class="detail__list-wrap">
											<td class="pr-4">필요전력 : 300</td>
										</tr>
										<tr>
											<td>재고량 : 30</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="text-center detail_desc4">
								<button class="btn btn-primary mx-4"><i class="fa-solid fa-basket-shopping fa-xl"></i> 상품담기</button>
								<button class="btn btn-primary mx-4"><i class="fa-solid fa-truck-fast fa-xl"></i> 구매하기</button>
							</div>
					</div>
				</div>
					<div class="detail__tag-wrap">
					<span class="item__tag">태그</span>
					<span class="item__tag">태그</span>
					<span class="item__tag">태그</span>
				</div>
			</div>
			<div class="item__cart">
				<p class="text-center m-4">내 장바구니</p>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
				<div class="wing__list">
					<p>CPU</p>
					<p>6티어 상급 CPU</p>
					<button class="btn btn-primary">해제</button>
				</div>
			</div>
		</div>
		<script>
			$(window).scroll(function () {
				var height = $(document).scrollTop();
				console.log(height)
				if(height>=232){
					$('.item__cate').addClass('item__cart-stick');
				}
				else if(height<232){
					$('.item__cate').removeClass('item__cart-stick')
				}
				
			}); 
		</script>
		
	</div>
</body>
</html>