<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout_member}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="css">
	
</th:block>
<th:block layout:fragment="js">
	
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>로그인</h3>
					</div>
					<div class="card-body">
						<form>
							<div class="mb-3">
								<input type="text" class="form-control" placeholder="아이디">
							</div>
							<div class="mb-3">
								<input type="password" class="form-control" placeholder="비밀번호">
							</div>
							<div class="row align-items-center remember mb-3">
								<input type="checkbox">아이디 기억
							</div>
							<div class="form-group text-center mb-3">
								<input type="submit" value="로그인" class="btn btn-warning login_btn col-12">
							</div>
							<div class="text-center">
								<a href="/members/findid"><button type="button" class="btn btn-primary">아이디 찾기</button></a>
								<a href="/members/findpwd"><button type="button" class="btn btn-primary">비밀번호 찾기</button></a>
								<a href="/members/join"><button type="button" class="btn btn-primary">회원가입</button></a>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>