<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다. -->
	<div th:fragment="header" style="background:rgb(33,37,41);">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
			<div class="container-fluid">
			    <div class="container-fluid">
			    	<ul class="navbar-nav">
					    <li class="nav-item col-3 p-4"><a class="nav-link hoverable" href="/"><img src="/images/logo.png" height="50" width="200" style="background:white" ></a></li>
					    <li class="nav-item col-5 p-4">
					    	<form action="" method="post">
					    		<div class="search__box p-2">
									<input type="search" id="form1" class="col-10" placeholder="검색어를 입력해주세요." />
									<button class="btn search__btn" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
					    	</form>
					    </li>
					    <li class="nav-item col-1 p-4"></li>
					    <li class="nav-item p-4"><a class="nav-link hoverable px-4" href="/members/login">로그인</a></li>
					    <li class="nav-item p-4"><a class="nav-link hoverable px-4" href="/members/join">회원가입</a></li>
			   	 	</ul>
			    </div>
			</div>
		</nav>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center ">
			<ul class="navbar-nav sub__nav">
				<li class="nav-item p-3"><a class="nav-link hoverable px-3" href="/items/itemList_as">데스크탑 조립</a></li>
				<li class="nav-item p-3"><a class="nav-link hoverable px-3" href="/items/itemList_fs">데스크탑 완제품</a></li>
				<li class="nav-item p-3"><a class="nav-link hoverable px-3" href="/items/cart">조립현황</a></li>
				<li class="nav-item p-3"><a class="nav-link hoverable px-3" href="/services/center">고객센터</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>