@charset "UTF-8";

.hoverable{
  display:inline-block;
  position:relative;
  transition-duration: .3s;
  transition-property:transform;
}
nav{
	width: 80vw;
	margin: 0 auto;
}


.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}
.search__box{
	border: 2px solid transparent;
	
	background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #E53B38 0%, #9849FD 100%) border-box;
	
	
	
	
	
}
.search__box:hover, #form1:focus {
	background: linear-gradient(#fff, #fff) padding-box, linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab 100%) border-box;
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.search__box input{ margin: 5px; border: none; }
.search__box input:focus{outline: none;}
.search__box button{ border: none; margin-left: 25px;}

.sub__nav li{
	width: 20vw;
    text-align: center;
}
	
	
search__boxa:hover, a:focus { animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
@keyframes rainbowLink {     
 0% { color: #ff2a2a; }
 15% { color: #ff7a2a; }
 30% { color: #ffc52a; }
 45% { color: #43ff2a; }
 60% { color: #2a89ff; }
 75% { color: #202082; }
 90% { color: #6b2aff; } 
 100% { color: #e82aff; }
}