@charset "UTF-8";

ul{
	margin:0;
	padding:0;
}

a{text-decoration: none; cursor: pointer; color:white;}
li{list-style: none;}


.service{
	display:flex;
	color: white;
    margin-bottom: 30px;
}
.main__container{
	width: 80vw;
	margin: 30px auto;
}

.sc{
    padding: 11px 15px 22px;
    width: 290px;
    height: 248px;
    border: 1px solid #f1f1f1;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 20px;
    color:white;
}
.sc2{
    padding: 11px 15px 22px;
    width: 100%;
    height: 248px;
    border: 1px solid #f1f1f1;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 20px;
    color:white;
    line-height: 38px;
}
.sc2 ul {width: 80%; margin: 0 auto;}

.service_link{color:white;}
.fl_right{
	float:right;
}
.main__card{
	margin-bottom: 30px;
    padding-bottom: 30px;
}
.main__card a:hover {
	outline:1px solid gray;
}

.item__section{
	padding: 160px 120px;
}
.item__section-sub{
	width: 80vw;
	margin-top:20px;
}

.last_justify_center{
    text-align-last: justify;
}

.rep_list01{color: #fbcf79;}
.rep_list02{color: #71fb58;}
.rep_list03{color: #b698ed;}
.rep_btn{
	    position: relative;
    display: inline-block;
    font-size: calc(10 * 1px);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    padding: 15px 26px;
    border-radius: 64px;
    opacity: 0.7;
}

.rep_btn:hover{
	padding: 18px 45px;
	font-size: 16px !important;
    opacity: 1;
    visibility: visible;
}
.rep_btn[data-hover]:hover:before {
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
}

.mx-8{
	margin-right: 8rem!important;
    margin-left: 8rem!important;
}

.item-wing__wrap{
	position: relative;
    width: 1072px;
    margin: 0 auto;
}
.item-wing__right{
	font-size: 13px;
    letter-spacing: -0.2px;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50px;
    overflow: hidden;
    margin-left: 650px;
    z-index: 2;
}
.fix {
    position: fixed;
    top: 65px;
    
}

.wing__box{
	background: white;
	height: 800px;
}
.wing__listBox{
	position: relative;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid #33383e;
    border-width: 0 1px;
} 
.wing__list{
	background: gray;
    margin: 20px auto;
    padding:10px;
    width: 90%;
}
.item__cate-wrap{
    display: block;
    width: 1140px;
    border-bottom: 1px solid #bfbfbf;
}
.detail__cate-wrap{
	display: block;
    width: 1115px;
    border-bottom: 1px solid #bfbfbf;
    margin-left: 108px;
}
.item__cate li{
	width: 113px;
    height: 40px;
    border: 1px solid #bfbfbf;
    margin-left: -1px;
    margin-bottom: -1px;
}
.item__cate li a{
	color:white;
	display: block;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: -.4px;
}
.item__cate li a:hover{
	background: white;
	color:black;
}

.item__cate li a.active{
	background: white;
	color:black;
	border-bottom:none;
	animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite;
}

.item__list-wrap{border-bottom: 1px solid rgba(255,255,255,0.5)}
.item__list{
	margin-top:25px;
	flex: 0 0 auto;
    width: 75%;
    padding-right: 30px;
}
.item__card{margin: 0 195px; position:sticky; top:0;}
.item__img-con{padding:15px 21px 15px 26px}
.detail__img-con{padding:15px 50px 15px 26px}
.item__img{
	display: block;
    width: 80px;
    height: 80px;
}
.detail__list{
	margin-left:80px;
	margin-top:25px;
	flex: 0 0 auto;
    width: 75%;
    padding-right: 30px;
}
.detail__title{
	margin-left:26px;
	font-size:38px;
}
.detail__img{
	display: block;
    width: 330px;
    height: 330px;
}
.detail_desc2{width: 75%; vertical-align: top; padding-left:45px;}
.detail_desc3{width: 50%; vertical-align: top; padding-top: 15px; padding-left:45px; height: 225px;}
.detail_desc4{width: 100%;}
.detail_desc4 button{
	padding: 15px 50px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.detail__price{
	color: #2964e0;
	font-size: 38px;
	font-weight: bold;
	font-family: 'Sawarabi Gothic', sans-serif;
}

.item__desc{width:80%}
.item__desc p{margin:0;}
.item__desc a{color:white;}
.item__title{font-size: 20px; font-weight: bold;}
.item__price{width: 100%;text-align: right;}
.item__tag-wrap{margin-top:12px}
.detail__tag-wrap{margin-left:26px;margin-top:10px;}
.item__tag{
	display: inline-block;
    height: 18px;
    line-height: 19px;
    vertical-align: top;
    padding: 0 5px;
    margin: 0 5px 0 1px;
    text-align: center;
    font-size: 12px !important;
    border: 1px solid #D2D2D2;
    background: #fff;
    color: #555;
    border-radius: 4px;
}
.detail__tag{
	display: inline-block;
    height: 18px;
    line-height: 19px;
    vertical-align: top;
    padding: 0 5px;
    margin: 0 5px 0 1px;
    text-align: center;
    font-size: 12px !important;
    border: 1px solid #D2D2D2;
    background: #fff;
    color: #555;
    border-radius: 4px;
}
.detail__table{
	font-size: 30px;
}
.item__cart{
	width:100%;
	margin-left:10px;
	border: 1px solid rgba(255,255,255,0.5);
	position: relative;
    top: -20px;
}
.item__cart-stick{background: black;}
.cart__container{width: 80vw;}
.mx-6{
	margin-right: 3.5rem!important;
    margin-left: 3.5rem!important;
}
.card__desc-wrap{
	width: 100%;
	height: 600px;
	background: #6c757d;
}
.cart__desc-title{
	border-bottom: 3px solid rgba(255,255,255,0.5);
    padding-bottom: 12px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.cart__desc{
	font-size:22px;
}