<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

<th:block layout:fragment="css">
	
</th:block>
<th:block layout:fragment="js">
</th:block>
</head>
<body>
	<div layout:fragment="content" class="bg-dark">
	
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><a><img src="/images/fitem01.jpg"></a></div>
				<div class="swiper-slide"><a><img src="/images/fitem02.png"></a></div>
				<div class="swiper-slide">완제품 사진2</div>
				<div class="swiper-slide">완제품 사진3</div>
				<div class="swiper-slide">완제품 사진4</div>
			</div>
		</div>
		<div class="main__container">
			<div class="service">
				<div class=" col-3">
					<div class="sc text-center">
						<p class="">고객센터</p>
						<div>
							<p class="counter">12333</p>
							<p>상담시간  : 09:00 ~ 18:00</p>
							<div class="d-flex justify-content-center text-center">
								<a class="service_link servic_c p-2"><i class="fa-solid fa-headset fa-2xl"></i><p></p>고객센터</a>
								<a class="service_link servic_q p-2"><i class="fa-regular fa-clipboard fa-2xl"></i><p></p>문의하기</a>
							</div>
						</div>
					</div>
				</div>
				<div class="sc text-center col-1">광고</div>
				<div class="col-1"></div>
				<div class="sc2">
					<p class="text-center">공지사항</p>
					<ul>
						<a><li><span>공지사항 1번</span><span class="fl_right">등록일</span></li></a>
						<a><li><span>공지사항 1번</span><span class="fl_right">등록일</span></li></a>
						<a><li><span>공지사항 1번</span><span class="fl_right">등록일</span></li></a>
						<a><li><span>공지사항 1번</span><span class="fl_right">등록일</span></li></a>
					</ul>
				</div>
			</div>
			
			<div class="main__card row">
				<div class="col-md-3 mb-4 margin">
					<div class="card bg-dark">
						<a class="text-dark"> <img class="card-img-top" height="292">
							<div class="card-body">
								<h5 class="card-title text-light">물건 1호</h5>
								<p class="card-text text-light">물건 설명</p>
								<h3 class="card-title text-danger">1000000</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 mb-4 margin">
					<div class="card bg-dark">
						<a class="text-dark"> <img class="card-img-top" height="292">
							<div class="card-body">
								<h5 class="card-title text-light">물건 1호</h5>
								<p class="card-text text-light">물건 설명</p>
								<h3 class="card-title text-danger">1000000</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 mb-4 margin">
					<div class="card bg-dark">
						<a class="text-dark"> <img class="card-img-top" height="292">
							<div class="card-body">
								<h5 class="card-title text-light">물건 1호</h5>
								<p class="card-text text-light">물건 설명</p>
								<h3 class="card-title text-danger">1000000</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 mb-4 margin">
					<div class="card bg-dark">
						<a class="text-dark"> <img class="card-img-top" height="292">
							<div class="card-body">
								<h5 class="card-title text-light">물건 1호</h5>
								<p class="card-text text-light">물건 설명</p>
								<h3 class="card-title text-danger">1000000</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 mb-4 margin">
					<div class="card bg-dark">
						<a class="text-dark"> <img class="card-img-top" height="292">
							<div class="card-body">
								<h5 class="card-title text-light">물건 1호</h5>
								<p class="card-text text-light">물건 설명</p>
								<h3 class="card-title text-danger">1000000</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
		<script>
			$('.counter').counterUp({
			    delay: 10,
			    time: 1000
			});
			
			var swiper = new Swiper(".mySwiper", {
				effect : 'coverflow', 
		      	slidesPerView: 3,
		      	spaceBetween: 30,
		      	loop:true,
		      	autoplay: {    
		        	delay: 5000,
		          	disableOnInteraction: false, 
		        },
		    });
		</script>
	</div>
</body>
</html>